.weather-city-selection-parent {
    padding: 2rem;
}

.weather-city-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-city-input button {
    margin: 0 0.2rem;
}

.city-selection-button {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 1rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    outline: 0;
    transition: ease all 0.5s;
}


.city-selection-button.selected {
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.09), 0 6px 10px 0 rgba(0,0,0,.04), 0 1px 18px 0 rgba(0,0,0,.07)
}

.city-selection-button:hover {
    background-color: rgba(255, 255, 255, 0.30);
    transition: ease all 0.5s;
}